{
  "AuthenticationMode": 4,
  "Identity": {
	"Forms": {
     "Database": {
      "Server": "GBLHRRL6MCMTQ3",
      "Name": "AuthDB",
      "UserName": "LukaszARM",
      "Password": "AQAAAYCYrqfzbp3umKjqlVM8ZezhXAFQe0Xr9rI4MXQJFr6dujVIJvFdQMXHgKjQsHJnaLZZz1j6RedPYuYdKinmHkqaOJJh1brqbUi+c8IDI8cTDapr/9bt3/ZxSpeAArLG7YZL0u0z2cuhlIThpdS4PWddobWVFRRit9r0WroAVpDVrxumxu+gcp2nbeE8lJT32YUKNzkLeiDyL3V8wKj6VHeOuolLSSeFDUlvYK9+XThE2/cWdVAe/rcAS12oxftK8OsVQDor5V61bC7P8tcIC88+27r+jY6kQpD0btPJwDz4Xqm133j7DpTULi5VMz1+n2VwEBmbanuV2sZNKmaKGfz8rdVpiBq+qSY2ix8U4zu4G5BJevGq1Kyh33aKLwanGTH6+MTG5B0YVSijfUxh0qFcRDJo0DGHRs+I617yk7CcNpKAPEYq+9jW5pdH2ouVaq/YGJJJ3Uot1r32/XW5T1pHI4I4TVxYmxfzR86QoR4pfv1QhJ1qYkC77S0w+C/WRmQAAAAQyNt1HMpCuASmxjLOZoIE5QAAACDBgrykX+DmmMWpdccBhXYoOJYAZnQwQHTcOVC9A5Si5gAAABCUldeLyTcJr99sSFtklCGU"
        },
    "Password": {
      "MinimumLength": 6,
	  "MaximumPasswordAgeInDays": 200000,
      "MinimumUpperCaseCharacters": 0,
      "MinimumLowerCaseCharacters": 0,
      "MinimumNumericCharacters": 0,
      "MinimumSymbolCharacters": 0,
	  "AllowedSymbols": "@%+'!#$^?:,(){}[]Â¬~`-_.\";&*Â£",
      "CannotMatchUserName": true,
      "PasswordResetTokenLifetimeInHours": 24,
	  "PasswordHistoryEntries": 0,
	  "DaysWarningBeforePasswordExpires": 3
      },
    "Email": {
      "Server": "localhost",
      "Port": 25,
      "UserName": "armtest",
      "Password": "AQAAAYCYrqfzbp3umKjqlVM8ZezhXAFQe0Xr9rI4MXQJFr6dujVIJvFdQMXHgKjQsHJnaLZZz1j6RedPYuYdKinmHkqaOJJh1brqbUi+c8IDI8cTDapr/9bt3/ZxSpeAArLG7YZL0u0z2cuhlIThpdS4PWddobWVFRRit9r0WroAVpDVrxumxu+gcp2nbeE8lJT32YUKNzkLeiDyL3V8wKj6VHeOuolLSSeFDUlvYK9+XThE2/cWdVAe/rcAS12oxftK8OsVQDor5V61bC7P8tcIC88+27r+jY6kQpD0btPJwDz4Xqm133j7DpTULi5VMz1+n2VwEBmbanuV2sZNKmaKGfz8rdVpiBq+qSY2ix8U4zu4G5BJevGq1Kyh33aKLwanGTH6+MTG5B0YVSijfUxh0qFcRDJo0DGHRs+I617yk7CcNpKAPEYq+9jW5pdH2ouVaq/YGJJJ3Uot1r32/XW5T1pHI4I4TVxYmxfzR86QoR4pfv1QhJ1qYkC77S0w+C/WRmQAAAAQyNt1HMpCuASmxjLOZoIE5QAAACDBgrykX+DmmMWpdccBhXYoOJYAZnQwQHTcOVC9A5Si5gAAABCUldeLyTcJr99sSFtklCGU",
      "ReplyAddress": "reply@arm-qa.com",
      "SenderAddress": "sender@arm-qa.com",
      "SenderName": "Active Risk Manager",
      "UseSsl": false
      }
    }
  }
}