<?xml version="1.0"?>
<InstanceConfigFile xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Instances>
	<Instance>
      <Id>1</Id>
      <Name>ARMG1</Name>
      <AlertConfigInfo>
        <SMTPAddress>127.0.0.1</SMTPAddress>
        <SMTPPort>25</SMTPPort>
        <AlertServiceSenderName>Active Risk Manager</AlertServiceSenderName>
        <AlertServiceSenderPassword>AQAAAYCnRkrXz5RNlpoDoK0TkRojsgD4dWytJe2fQRcJjDD2C315hHqH8xqZvSSTVb4P9pVuJYnGACOYILgiCDezpcl2ZjSul9B1ONeilLrU4ffK77fttOgDSiv1hSadzQr/PivKbwmMsr+h4wiDqYfmwTeal+NES7EZVOcK2DUDslwqWcZfo4i/ZlZRtHwgz6W2xp+1w5+tM0TKOaoBJJxmauE1SvMlamXUz5jxJWwWEk4ImEv64LRkF4aci8qjoNf6N0+rNHvm1r0QfmdFkZUDJRlc1da20Rt5vO4YjNQDlhfw3QgngSEb15EP4KVgOmukVnDpWw9lwk7AO2roZv3jeALRCa28nmA2XJXpYH7iL8L84TSdqzcgbb7xDxJZtxqwQrsRvmrbNNLGUczrrVXIeGLsw85alyffNDn5bbmAlC5aW4TbxZfpEbFCcao3gapO9OdaztWFNgbwiz+hyiBYIsEH/Cjj7QLCQ6ZORnx0lUe2PGWjXY6Bc35P87LloyJvOcMAAAAQyj3+rM8WP742gUJdx/mnYAAAACAakHEcEof8W6VW1jhu/2wiR6kpdi2YAyna3HcPiAt2TQAAABAuRps/UID5a/Hw/N3bxFLS</AlertServiceSenderPassword>
        <AlertServiceSenderAddress>armdeploy@riskonnect.com</AlertServiceSenderAddress>
        <AlertServiceReplyAddress>armdeploy@riskonnect.com</AlertServiceReplyAddress>
        <EnableSSL>false</EnableSSL>
      </AlertConfigInfo>
      <DatabaseInfo>
        <DatabaseName>ARMCurrent1</DatabaseName>
        <DatabaseServer>GBLHRRL6MCMTQ3</DatabaseServer>
        <DatabaseUsername>LukaszARM</DatabaseUsername>
        <DatabasePassword>AQAAAYCnRkrXz5RNlpoDoK0TkRojsgD4dWytJe2fQRcJjDD2C315hHqH8xqZvSSTVb4P9pVuJYnGACOYILgiCDezpcl2ZjSul9B1ONeilLrU4ffK77fttOgDSiv1hSadzQr/PivKbwmMsr+h4wiDqYfmwTeal+NES7EZVOcK2DUDslwqWcZfo4i/ZlZRtHwgz6W2xp+1w5+tM0TKOaoBJJxmauE1SvMlamXUz5jxJWwWEk4ImEv64LRkF4aci8qjoNf6N0+rNHvm1r0QfmdFkZUDJRlc1da20Rt5vO4YjNQDlhfw3QgngSEb15EP4KVgOmukVnDpWw9lwk7AO2roZv3jeALRCa28nmA2XJXpYH7iL8L84TSdqzcgbb7xDxJZtxqwQrsRvmrbNNLGUczrrVXIeGLsw85alyffNDn5bbmAlC5aW4TbxZfpEbFCcao3gapO9OdaztWFNgbwiz+hyiBYIsEH/Cjj7QLCQ6ZORnx0lUe2PGWjXY6Bc35P87LloyJvOcMAAAAQyj3+rM8WP742gUJdx/mnYAAAACAakHEcEof8W6VW1jhu/2wiR6kpdi2YAyna3HcPiAt2TQAAABAuRps/UID5a/Hw/N3bxFLS</DatabasePassword>
        <ViewPointDatabaseUserName>LukaszVP</ViewPointDatabaseUserName>
        <ViewPointDatabasePassword>AQAAAYCnRkrXz5RNlpoDoK0TkRojsgD4dWytJe2fQRcJjDD2C315hHqH8xqZvSSTVb4P9pVuJYnGACOYILgiCDezpcl2ZjSul9B1ONeilLrU4ffK77fttOgDSiv1hSadzQr/PivKbwmMsr+h4wiDqYfmwTeal+NES7EZVOcK2DUDslwqWcZfo4i/ZlZRtHwgz6W2xp+1w5+tM0TKOaoBJJxmauE1SvMlamXUz5jxJWwWEk4ImEv64LRkF4aci8qjoNf6N0+rNHvm1r0QfmdFkZUDJRlc1da20Rt5vO4YjNQDlhfw3QgngSEb15EP4KVgOmukVnDpWw9lwk7AO2roZv3jeALRCa28nmA2XJXpYH7iL8L84TSdqzcgbb7xDxJZtxqwQrsRvmrbNNLGUczrrVXIeGLsw85alyffNDn5bbmAlC5aW4TbxZfpEbFCcao3gapO9OdaztWFNgbwiz+hyiBYIsEH/Cjj7QLCQ6ZORnx0lUe2PGWjXY6Bc35P87LloyJvOcMAAAAQyj3+rM8WP742gUJdx/mnYAAAACAakHEcEof8W6VW1jhu/2wiR6kpdi2YAyna3HcPiAt2TQAAABAuRps/UID5a/Hw/N3bxFLS</ViewPointDatabasePassword>
      </DatabaseInfo>
    </Instance>
  </Instances>
</InstanceConfigFile>
