<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication" />
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="Everywhere" />
        </sectionGroup>
      </sectionGroup>[p[p
    </sectionGroup>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <sectionGroup name="ActiveRiskManager">
      <section name="Settings" type="ActiveRisk.Arm.Shared.ApplicationConfig, ActiveRisk.Arm.Shared" />
    </sectionGroup>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="ARM.Views.ArmWebViewPage">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.Optimization" />
        <add namespace="ARM" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <connectionStrings>
    <add name="ActiveRiskManagerMaster" connectionString="server=GBLHRRL6MCMTQ3;database=AuthDB;uid=sa;pwd=MmKn5OuUwrmDVoVjK_4dFR27UihIR80RLwMs;Connection Reset=false;"></add>
</connectionStrings>
  <ActiveRiskManager>
    <Settings EnableMultiLanguage="true" AuthenticateWebServiceRequests="true" ReverseProxyHostName="" ReverseProxyPort="" ReverseProxyScheme="" CacheDurationInSeconds="31536000" StaticDataPollInterval="0" DatabaseEncoding="Windows-1251" UseNewDetailDialog="true" ClientViewFileAction="OverWrite" CompressContent="false" MsProject2016WebServiceQueryTimeout="1800000" ValidateContentTypeOnFileUpload="true" SanatiseWebServiceResponses="true">
      <!-- introduce the follwing section to enable profiling
      <ProfileTypes>
        <add name="ImpactService" />
        <add name="ItemService" />
        <add name="RiskManagerRClass" />
        <add name="FilterBLRClass" />
      </ProfileTypes>
      -->
      <ForbiddenDocumentExtensions>
        <add name=".asp" />
        <add name=".aspx" />
        <add name=".exe" />
        <add name=".php" />
        <add name=".dll" />
        <add name=".js" />
      </ForbiddenDocumentExtensions>
      <!-- Regex0 and Regex1 are defaults and should not be changed or modified, more regular expressions can be added to the list as Regex2, Regex3 etc. -->
      <XSSSecurityRegexSequence>
        <add name="Regex0"><![CDATA[((\\(x|u)0*3c)|(&#0*60)|(&#x0*3c)|(\%3C)|<|\%uff1c)((\%2F)|(\/))*(~/x(\\0)*s(\\0)*s|x(\\0)*s(\\0)*s|a|i(\\0)*m(\\0)*g|s(\\0)*c(\\0)*r(\\0)*i(\\0)*p(\\0)*t|i(\\0)*f(\\0)*r(\\0)*a(\\0)*m(\\0)*e|f(\\0)*r(\\0)*a(\\0)*m(\\0)*e(\\0)*s(\\0)*e(\\0)*t|f(\\0)*r(\\0)*a(\\0)*m(\\0)*e|o(\\0)*b(\\0)*j(\\0)*e(\\0)*c(\\0)*t|h(\\0)*t(\\0)*m(\\0)*l|x(\\0)*m(\\0)*l|b(\\0)*o(\\0)*d(\\0)*y|s(\\0)*t(\\0)*y(\\0)*l(\\0)*e|m(\\0)*e(\\0)*t(\\0)*a|t(\\0)*a(\\0)*b(\\0)*l(\\0)*e|d(\\0)*i(\\0)*v|i(\\0)*n(\\0)*p(\\0)*u(\\0)*t|b(\\0)*a(\\0)*s(\\0)*e|e(\\0)*m(\\0)*b(\\0)*e(\\0)*d|l(\\0)*i(\\0)*n(\\0)*k)+((\%3E)|>|\%uff1e)*]]></add>
        <add name="Regex1"><![CDATA[(Redirect +\d+)|(\\"";.*;//)]]></add>
        <add name="Regex2"><![CDATA[<a .*?href=['""](.+?)['""].*?>(.+?)</a>]]></add>
      </XSSSecurityRegexSequence>
      <ExcludeFromCompression>
        <add name="ScriptResource.axd" />
        <add name="WebResource.axd" />
        <add name="StaticData.static" />
        <add name="GetView.axd" />
      </ExcludeFromCompression>
      <ControllerTimeouts>
        <add name="ImportExportARMController.Import" timeout="300" />
        <add name="RiskListController.CopyRisks" timeout="1800" />
        <add name="RiskListController.LinkRisks" timeout="1800" />
        <add name="RiskListController.MoveRisks" timeout="1800" />
        <add name="RiskListController.DeleteImpacts" timeout="300" />
        <add name="IncidentListController.LinkIncidents" timeout="300" />
        <add name="ImportProjectController.ImportProject" timeout="1800" />
        <add name="ImportProjectController.UpdateProject" timeout="1800" />
        <add name="StaticDataImporterController.ImportStaticData" timeout="300" />
        <add name="StaticDataMappingController.ImportUpdateResources" timeout="300" />
        <add name="StaticDataMappingController.GetStaticDataResources" timeout="300" />
        <add name="StaticDataMappingController.SaveStaticDataMapping" timeout="300" />
        <add name="ScoringSchemeConfigController.Commit" timeout="300" />
        <add name="IncidentListController.DeleteIncidents" timeout="300" />
        <add name="IncidentListController.MoveIncidents" timeout="300" />
        <add name="IncidentListController.CopyIncidents" timeout="300" />
        <add name="ImportFromExcelController.ImportExcelData" timeout="900" />
        <add name="CurrencyConfigController.Commit" timeout="1800" />
        <add name="TreeController.DeleteNode" timeout="1800" />
        <add name="ActivityTreeController.DeleteNode" timeout="1800" />
        <add name="ActivityTreeController.CopyNode" timeout="1800" />
        <add name="BulkUpdateResponseController.SaveChanges" timeout="900" />
        <add name="BulkUpdateRiskController.SaveChanges" timeout="900" />
        <add name="ResponseLinkageController.AutoLinkActivities" timeout="900" />
        <add name="OpenBusinessAreaController.DeleteBusinessArea" timeout="300" />
        <add name="PurgeHistorydataApiController.PurgeLogEntries" timeout="300" />
      </ControllerTimeouts>
      <FormsAuthenticationPasswordPolicies defaultPolicy="Policy1">
        <add name="Policy1" maxAge="30" minLength="6" minUppercaseLetters="0" minLowercaseLetters="0" minDigits="0" minNonAlphanumerics="0" cannotMatchUserName="false" maxRetriesAllowed="4" enforcedPasswordHistory="0" />
      </FormsAuthenticationPasswordPolicies>
      <RemoteLogging enableRemoteLogging="false" serverUrl="http://localhost:8088" token="69063f8b-2c07-46d0-8813-73e0229b936c" />
    </Settings>
  </ActiveRiskManager>
  <location path="Charts/ScheduleAnalysis/ScheduleAnalysisChart.aspx">
    <system.web>
      <httpRuntime executionTimeout="900" />
    </system.web>
  </location>
  <location path="Temp">
    <system.webServer>
      <directoryBrowse enabled="false" />
    </system.webServer>
  </location>
  <log4net>
    <appender name="NHibernateAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Program Files\Active Risk Manager\Server\Logs\DotNet\nhibernatelog.log" />
      <appendToFile value="true" />
      <maximumFileSize value="1000KB" />
      <maxSizeRollBackups value="2" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %thread %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="ProfilingAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Program Files\Active Risk Manager\Server\Logs\Profiling\profile.log" />
      <appendToFile value="true" />
      <maximumFileSize value="1000KB" />
      <maxSizeRollBackups value="2" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level - %message%newline" />
      </layout>
    </appender>
    <appender name="BootstrapperAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Program Files\Active Risk Manager\Server\Logs\bootstrapper.log" />
      <appendToFile value="true" />
      <maximumFileSize value="1000KB" />
      <maxSizeRollBackups value="2" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level - %message%newline" />
      </layout>
    </appender>
    <appender name="SAMLLogAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Program Files\Active Risk Manager\Server\Logs\SAMLLog.log" />
      <appendToFile value="true" />
      <maximumFileSize value="1000KB" />
      <maxSizeRollBackups value="2" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level - %message%newline" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <target value="Console.Debug" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline" />
      </layout>
    </appender>
    <appender name="DebugSQL" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ERROR" />
    </root>
    <logger name="Integration">
      <level value="ERROR" />
      <appender-ref ref="IntegrationAppender" />
    </logger>
    <logger name="NHibernate">
      <level value="ERROR" />
      <appender-ref ref="NHibernateAppender" />
    </logger>
    <logger name="NHibernate.Loader.Loader">
      <level value="ERROR" />
      <appender-ref ref="NHibernateAppender" />
    </logger>
    <logger name="System">
      <level value="ERROR" />
      <appender-ref ref="SystemAppender" />
    </logger>
    <logger name="Profiler">
      <level value="ERROR" />
      <appender-ref ref="ProfilingAppender" />
    </logger>
    <logger name="Bootstrapper">
      <level value="ERROR" />
      <appender-ref ref="BootstrapperAppender" />
    </logger>
    <logger name="SAMLLog">
      <level value="ERROR" />
      <appender-ref ref="SAMLLogAppender" />
    </logger>
    <logger name="NHibernate.SQL" additivity="false">
      <!-- Setting to Debug will output to the output window in VS -->
      <level value="Error" />
      <appender-ref ref="DebugSQL" />
    </logger>
  </log4net>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="ErrorLog" value="/arm/Detail/error.log" />
    <add key="SessionPollInterval" value="1080" />
    <add key="ClientDebug" value="false" />
    <add key="ForceGC" value="false" />
    <add key="CollectWhenPaging" value="false" />
    <add key="ServiceMode" value="local" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
    <add key="nhibernate-logger" value="NHibernate.Log4NetLoggerFactory, NHibernate" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="NewRelic.AppName" value="ARM11 Auto Deploy" />
    <add key="MaxTransactionTimeOutInMinutes" value="720" />
    <add key="ReportFilterQueryTimeoutInSeconds" value="600" />
    <add key="PowerBIReportUrlTimeoutInSeconds" value="30" />
    <add key="PowerBICloudServiceTimeoutInSeconds" value="30" />
    <add key="ProxyApiKey" value="0b5e0913-67de-44a2-909d-cb3cc9d43b0a" />
  </appSettings>
  <location path="Secure">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
    <system.webServer>
      <security>
        <authorization>
          <remove users="?" />
          <add accessType="Allow" users="?" />
        </authorization>
      </security>
      <httpProtocol>
        <customHeaders>
          <remove name="X-Powered-By" />
          <remove name="X-UA-Compatible" />
          <remove name="X-XSS-Protection" />
          <remove name="X-Content-Type-Options" />
          <remove name="Content-Security-Policy" />
          <add name="X-UA-Compatible" value="IE=EmulateIE7" />
          <add name="X-XSS-Protection" value="1; mode=block" />
          <add name="X-Content-Type-Options" value="nosniff" />
          <add name="Content-Security-Policy" value="default-src 'self' 'unsafe-inline' 'unsafe-eval' https://js-agent.newrelic.com/ https://bam.nr-data.net/; style-src 'self' 'unsafe-inline' 'unsafe-eval' blob:; img-src 'self' 'unsafe-inline' 'unsafe-eval' data: blob:; font-src 'self' 'unsafe-inline' 'unsafe-eval' data:;" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
  <location path="Shutdown">
    <system.webServer>
      <security>
        <authorization>
          <remove users="?" />
          <add accessType="Allow" users="?" />
        </authorization>
      </security>
    </system.webServer>
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="portal/proxy.html">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
    <system.webServer>
      <security>
        <authentication>
          <anonymousAuthentication enabled="false" />
        </authentication>
        <authorization>
          <remove users="?" roles="" verbs="" />
          <add accessType="Allow" users="?" />
        </authorization>
      </security>
    </system.webServer>
  </location>
  <location path="portal/ARMAppsNative/proxy.html">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
    <system.webServer>
      <security>
        <authentication>
          <anonymousAuthentication enabled="false" />
        </authentication>
        <authorization>
          <remove users="?" roles="" verbs="" />
          <add accessType="Allow" users="?" />
        </authorization>
      </security>
    </system.webServer>
  </location>
  <location path="webservices/public/publicservice.asmx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
    <system.webServer>
      <security>
        <authorization>
          <remove users="?" />
          <add accessType="Allow" users="?" />
        </authorization>
      </security>
    </system.webServer>
  </location>
  <location path="dist">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
    <system.webServer>
      <security>
        <authorization>
          <remove users="?" />
          <add accessType="Allow" users="?" />
        </authorization>
      </security>
    </system.webServer>
  </location>
  <location path="bundles">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
    <system.webServer>
      <security>
        <authorization>
          <remove users="?" />
          <add accessType="Allow" users="?" />
        </authorization>
      </security>
    </system.webServer>
  </location>
  <location path="Scripts/arm-common">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
    <system.webServer>
      <security>
        <authorization>
          <remove users="?" />
          <add accessType="Allow" users="?" />
        </authorization>
      </security>
    </system.webServer>
  </location>
  <location path="Secure/Login.aspx">
    <system.web>
      <httpRuntime requestValidationMode="2.0" />
    </system.web>
  </location>
  <location path="saml">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
    <system.webServer>
      <security>
        <authorization>
          <remove users="*" />
          <add accessType="Allow" users="*" />
        </authorization>
      </security>
    </system.webServer>
  </location>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!--
      This maxRequestLength property defines the maximum file upload size in KILOBYTES for a SINGLE file upload.
      See below in system.webServer/security/requestFiltering/requestLimits for how to control upload size for MULTIPLE file uploads.
      The two values should be kept in sync.
    -->
    <httpRuntime executionTimeout="1800" maxRequestLength="1024000" requestValidationType="ARM.ARMRequestValidation, ARM" enableVersionHeader="false" />
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <trust level="Full" />
    <compilation defaultLanguage="c#" targetFramework="4.8">
      <assemblies>
        <add assembly="Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" />
      </assemblies>
    </compilation>
    <customErrors mode="Off" defaultRedirect="~/Secure/Error.html"></customErrors>
    <authentication mode="Forms">
      <forms requireSSL="false" name="SqlAuthCookie" timeout="90" path="/" loginUrl="secure/login.aspx" enableCrossAppRedirects="false" defaultUrl="/arm/" domain=".arm-qa.com" />
    </authentication>
    <identity impersonate="false" />
    <authorization>
      <allow users="*" />
    </authorization>
    <membership defaultProvider="ARMSqlMembershipProvider">
      <providers>
        <add applicationName="ActiveRiskManager" name="ARMSqlMembershipProvider" type="ActiveRisk.Arm.Web.Utilities.ArmMembershipProvider, ActiveRisk.Arm.Web" />
      </providers>
    </membership>
    <trace enabled="false" requestLimit="100" pageOutput="false" traceMode="SortByTime" localOnly="false" />
    <sessionState cookieless="UseCookies" mode="Off" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" stateConnectionString="tcpip=127.0.0.1:42424" timeout="20" />
    <globalization requestEncoding="UTF-8" responseEncoding="UTF-8" culture="en-GB" uiCulture="en-GB" />
    <xhtmlConformance mode="Legacy" />
    <httpHandlers>
      <add path="*EscalationItemsAssignment.axd" verb="GET" type="ActiveRisk.Arm.Web.Bootstrap.Container.EscalationAssignmentsHandlerFactory, ActiveRisk.Arm.Web.Bootstrap" validate="false" />
      <add path="*.static" verb="GET" type="ActiveRisk.Arm.Web.Bootstrap.Container.StaticDataHandlerFactory, ActiveRisk.Arm.Web.Bootstrap" validate="false" />
      <add path="*GetView.axd" verb="GET,POST" type="ActiveRisk.Arm.Web.Bootstrap.Container.ViewRenderingHandlerFactory, ActiveRisk.Arm.Web.Bootstrap" validate="false" />
      <add path="FilePost.axd" verb="POST" type="ActiveRisk.Arm.Web.Bootstrap.Container.FileUploadHandlerFactory, ActiveRisk.Arm.Web.Bootstrap" validate="false" />
      <add path="FileGet.axd" verb="GET" type="ActiveRisk.Arm.Web.Utilities.FileDownloadHandler, ActiveRisk.Arm.Web" validate="false" />
      <add path="ExportDownload.axd" verb="GET" type="ActiveRisk.Arm.Web.Bootstrap.Container.ExportJobDownloadHandlerFactory, ActiveRisk.Arm.Web.Bootstrap" validate="false" />
      <add path="ImportUpload.axd" verb="POST" type="ActiveRisk.Arm.Web.Bootstrap.Container.ImportJobUploadHandlerFactory, ActiveRisk.Arm.Web.Bootstrap" validate="false" />
      <add path="ChartImg.axd" verb="GET,HEAD" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
      <add path="LogViewer.axd" verb="GET,HEAD" type="ActiveRisk.Arm.Web.Bootstrap.Container.LogViewerHandlerFactory, ActiveRisk.Arm.Web.Bootstrap" validate="false" />
      <add path="Script.axd" verb="GET" type="ActiveRisk.Arm.Web.Bootstrap.Container.ScriptHandlerFactory, ActiveRisk.Arm.Web.Bootstrap" validate="false" />
      <add path="*Enum.axd" verb="GET" type="ActiveRisk.Arm.Web.Bootstrap.Container.EnumScriptHandlerFactory, ActiveRisk.Arm.Web.Bootstrap" validate="false" />
      <add path="*antiforgery.axd" verb="GET" type="ActiveRisk.Arm.Web.Bootstrap.Container.AntiForgeryTokenHandlerFactory, ActiveRisk.Arm.Web.Bootstrap" validate="false" />
      <add path="*clearconnectionpools.axd" verb="*" type="ActiveRisk.Arm.Web.Utilities.ClearConnectionPools, ActiveRisk.Arm.Web" validate="false" />
    </httpHandlers>
    <webServices>
      <soapExtensionImporterTypes>
        <add type="Microsoft.Web.Services3.Description.WseExtensionImporter, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </soapExtensionImporterTypes>
      <soapServerProtocolFactory type="Microsoft.Web.Services3.WseProtocolFactory, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </webServices>
    <httpModules>
      <add name="ArmContextBuilder" type="ActiveRisk.Arm.Web.HttpModules.ArmContextBuilderModule, ActiveRisk.Arm.Web" />
      <add name="ArmUserIdentityModule" type="ActiveRisk.Arm.Web.HttpModules.ArmUserIdentityModule, ActiveRisk.Arm.Web" />
      <add name="Compression" type="ActiveRisk.Arm.Web.HttpModules.CompressionModule, ActiveRisk.Arm.Web" />
      <add name="AppFrameworkRouting" type="ActiveRisk.Arm.Web.HttpModules.AppFrameworkRoutingModule, ActiveRisk.Arm.Web" />
    </httpModules>
    <machineKey decryptionKey="7BD782F18C3B218FA93325F0A9B4F1EBBB354FBBB600ECDB56A6D0572B8ED0AC" validationKey="FAB4621F18DE16D12EBCD1FD65C45208D67CDDC23911C34478E94BD8B41B339D0C9611F643366E803EE37131A6170CEA302DC578DB9CFB0C36A198385AD2D26D" validation="SHA1" decryption="AES" />
  </system.web>
  <system.webServer>
    <httpErrors errorMode="DetailedLocalOnly" existingResponse="PassThrough" />
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="WebDAVModule" />
      <remove name="FormsAuthentication" />
      <add name="ArmContextBuilder" type="ActiveRisk.Arm.Web.HttpModules.ArmContextBuilderModule, ActiveRisk.Arm.Web" preCondition="managedHandler" />
      <add name="ArmUserIdentityModule" type="ActiveRisk.Arm.Web.HttpModules.ArmUserIdentityModule, ActiveRisk.Arm.Web" preCondition="managedHandler" />
      <add name="Compression" type="ActiveRisk.Arm.Web.HttpModules.CompressionModule, ActiveRisk.Arm.Web" preCondition="managedHandler" />
      <add name="AppFrameworkRoutingModule" type="ActiveRisk.Arm.Web.HttpModules.AppFrameworkRoutingModule, ActiveRisk.Arm.Web" preCondition="managedHandler" />
      <add name="FormsAuthentication" type="System.Web.Security.FormsAuthenticationModule" />
      <remove name="SystemWebAdapterModule" />
      <add name="SystemWebAdapterModule" type="Microsoft.AspNetCore.SystemWebAdapters.SystemWebAdapterModule, Microsoft.AspNetCore.SystemWebAdapters.FrameworkServices" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
      <remove name="ChartImageHandler" />
      <add name="*Enum.axd_GET" path="*Enum.axd" verb="GET" type="ActiveRisk.Arm.Web.Bootstrap.Container.EnumScriptHandlerFactory, ActiveRisk.Arm.Web.Bootstrap" preCondition="integratedMode" />
      <add name="Script.axd_GET" path="Script.axd" verb="GET" type="ActiveRisk.Arm.Web.Bootstrap.Container.ScriptHandlerFactory, ActiveRisk.Arm.Web.Bootstrap" preCondition="integratedMode" />
      <add name="LogViewer.axd_GET,HEAD" path="LogViewer.axd" verb="GET,HEAD" type="ActiveRisk.Arm.Web.Bootstrap.Container.LogViewerHandlerFactory, ActiveRisk.Arm.Web.Bootstrap" preCondition="integratedMode" />
      <add name="ImportUpload.axd_POST" path="ImportUpload.axd" verb="POST" type="ActiveRisk.Arm.Web.Bootstrap.Container.ImportJobUploadHandlerFactory, ActiveRisk.Arm.Web.Bootstrap" preCondition="integratedMode" />
      <add name="ExportDownload.axd_GET" path="ExportDownload.axd" verb="GET" type="ActiveRisk.Arm.Web.Bootstrap.Container.ExportJobDownloadHandlerFactory, ActiveRisk.Arm.Web.Bootstrap" preCondition="integratedMode" />
      <add name="FileGet.axd_GET" path="FileGet.axd" verb="GET" type="ActiveRisk.Arm.Web.Utilities.FileDownloadHandler, ActiveRisk.Arm.Web" preCondition="integratedMode" />
      <add name="FilePost.axd_POST" path="FilePost.axd" verb="POST" type="ActiveRisk.Arm.Web.Bootstrap.Container.FileUploadHandlerFactory, ActiveRisk.Arm.Web.Bootstrap" preCondition="integratedMode" />
      <add name="*GetView.axd_GET,POST" path="*GetView.axd" verb="GET,POST" type="ActiveRisk.Arm.Web.Bootstrap.Container.ViewRenderingHandlerFactory, ActiveRisk.Arm.Web.Bootstrap" preCondition="integratedMode," />
      <add name="*EscalationItemsAssignment.axd_GET" path="*EscalationItemsAssignment.axd" verb="GET" type="ActiveRisk.Arm.Web.Bootstrap.Container.EscalationAssignmentsHandlerFactory, ActiveRisk.Arm.Web.Bootstrap" preCondition="integratedMode" />
      <add name="Static.Static" path="*.static" verb="GET" type="ActiveRisk.Arm.Web.Bootstrap.Container.StaticDataHandlerFactory, ActiveRisk.Arm.Web.Bootstrap" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="AntiforgeryHandler" preCondition="integratedMode" verb="GET" path="*antiforgery.axd" type="ActiveRisk.Arm.Web.Bootstrap.Container.AntiForgeryTokenHandlerFactory, ActiveRisk.Arm.Web.Bootstrap" />
      <add name="ClearConnectionPools" path="*clearconnectionpools.axd" verb="*" type="ActiveRisk.Arm.Web.Utilities.ClearConnectionPools, ActiveRisk.Arm.Web" preCondition="integratedMode" />
      <remove name="TRACEVerbHandler" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <remove name="OPTIONSVerbHandler" />
    </handlers>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="00:00:00" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <security>
      <authorization>
        <add accessType="Allow" users="?" />
      </authorization>
      <!--
      <authorization>
        <add accessType="Deny" users="?" />
      </authorization>-->
      <requestFiltering>
        <!--
          This maxAllowedContentLength property defines the maximum file upload size in BYTES for MULTIPLE file upload.
          This is different from the value above in httpRuntime which controls SINGLE file upload (and is specified in KB).
          The value here must be 1024 * the value in system.web/maxRequestLength
        -->
        <requestLimits maxAllowedContentLength="1048576000" />
      </requestFiltering>
    </security>
    <directoryBrowse enabled="false" />
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/d:DEBUG;TRACE">
        <providerOption name="CompilerVersion" value="v4.0" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin;CustomPages" />
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Rhino.Licensing" publicKeyToken="0b3305902db7183f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3.0" newVersion="3.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.2.2.0" newVersion="6.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AWSSDK.S3" publicKeyToken="885c28607f98e604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AWSSDK.Core" publicKeyToken="885c28607f98e604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.1" newVersion="4.0.5.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.5" newVersion="8.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.35.0.0" newVersion="6.35.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <microsoft.web.services3>
    <diagnostics>
      <trace enabled="false" input="C:\Temp\InputTrace.webinfo" output="C:\Temp\OutputTrace.webinfo" />
      <detailedErrors enabled="true" />
    </diagnostics>
    <security>
      <securityTokenManager>
        <add type="ActiveRisk.Arm.WebServices.Security.ServiceTokenManager" namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" localName="UsernameToken" />
      </securityTokenManager>
    </security>
  </microsoft.web.services3>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644">
          <converters>
            <add name="DateConverter" type="ActiveRisk.Arm.Web.Utilities.DateTimeConverter, ActiveRisk.Arm.Web" />
          </converters>
        </jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="" password="" userName="" />
      </smtp>
    </mailSettings>
  </system.net>
  <runtime xmlns="">
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: 5C19E9BF-521B-4EA0-B22A-A862FC453800-->